@media (max-width: 576px) {
  .name {
    display: hidden;
  }
  #navbar .container {
    flex-direction: column;
    align-items: start;
    padding: 20px 0;
    padding-left: 10px;
  }
  #navbar .container a {
    padding: 10px 0;
    border-left: none;
    border-right: none;
  }
  #target {
    grid-template-columns: 1fr;
    padding: 20px;
  }
}