* {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  line-height: 1.8;
  letter-spacing: 0.5px;
  box-sizing: border-box;
}
h1 {
  font-size: 1.5rem !important;
}

.job-item {
  /* width: 100%; */
  height: 100%;
}

:root {
  --primary-color: #199cdb;
  --secondary-color: #d0d0d0;
}
.bg-grey {
  background: #f7f7f7;
}
img {
  display: block;
  width: 100%;
}

#banner .container {
  padding: 0;
  margin: 0;
  max-width: unset;
  text-align: center;
  color: white;
  padding: 200px 0;
  background-image: url("../images/banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Phần navbar */

#navbar .container {
  display: flex;
  margin: 0;
  padding: 0;
  max-width: unset;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--secondary-color);
}

#navbar .container a {
  text-decoration: none;
  color: black;
  padding: 30px 10px;
  border-left: 1px solid var(--secondary-color);
}

#navbar a:nth-child(2) {
  border-right: 1px solid var(--secondary-color);
}
#navbar a:nth-child(5) {
  border-right: 1px solid var(--secondary-color);
}

#navbar .container a i {
  color: var(--primary-color);
}

#navbar .name {
  padding: 0 20px;
  text-align: center;
}

#navbar .name p {
  color: gray;
  font-size: 0.75em;
}

/* Phần thông tin cá nhân */

#about .container {
  margin: 0;
  padding: 0px;
  max-width: unset;
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
}

#about .container .section-title {
  padding-bottom: 30px;
}

#about #target,
#about #personal-info {
  padding: 50px;
}

#about #personal-info ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#about #personal-info .info-icons {
  padding-top: 30px;
}

#about #personal-info .info-icons i {
  color: var(--primary-color);
  cursor: pointer;
}

/* Phần thông tin công việc */

.job-item {
  border: 1px solid var(--secondary-color);
  box-shadow: 1px 1px 5px var(--secondary-color);
}

.job-header {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.job-header h1 {
  padding: 20px 40px;
}

.job-header i {
  padding: 20px 0;
  text-align: center;
  font-size: 36px;
  color: gray;
}

.work-detail {
  padding: 20px 40px;
}

.name-work {
  position: relative;
}
.name-work::before {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  left: -25px;
  width: 10px;
  height: 10px;
  background-color: var(--primary-color);
  border-radius: 50%;
  filter: blur(1px);
}

.time-line h5 {
  font-style: italic;
  font-weight: unset;
  padding: 10px 0px;
  color: gray;
}
.recent {
  background-color: var(--primary-color);
  color: white;
  border-radius: 5px;
  padding: 2px 10px;
}
.work-content h5,
.hobbies-item h5 {
  line-height: 1.8;
  font-weight: unset;
  color: gray;
}

.hobbies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px 40px;
}
.hobbies-item {
  text-align: center;
}
.hobbies-item i {
  width: 50px;
  color: var(--primary-color);
  font-size: 24px;
  height: 50px;
  border: 1px solid;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  margin-bottom: 10px;
}

.language,
.skill {
  padding: 20px 40px;
}
.rate {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px 0px;
  gap: 20px;
}
.rate div.active {
  height: 4px;
  background-color: var(--primary-color);
}
.rate div.non-active {
  height: 4px;
  background-color: var(--secondary-color);
}

/* Phần chứng chỉ, giải thưởng */

#certificate .section-title {
  padding-bottom: 30px;
}

#certificate .certificate-container {
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
  gap: 40px;
}

#certificate .vertical {
  width: 1px;
  background-color: orange;
  grid-row: 1/2;
  grid-column: 2/3;
}

#certificate .line {
  height: 1px;
  background-color: orange;
  grid-column: 1/4;
}

/* .certificate-item {
  display: grid;
  gap: 20px;
  grid-template-columns: 2fr 3fr;
} */

.certificate-name {
  text-transform: uppercase;
}
.certificate-content h5 {
  font-weight: unset;
  color: gray;
}

/* Phần dự án */

#project .section-title {
  padding-bottom: 30px;
}

/* #project .project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  } */

.project-img {
  border: 1px solid var(--secondary-color);
}
.project-name {
  text-transform: uppercase;
  padding: 10px 20px;
  border: 1px solid var(--secondary-color);
}
.project-name a {
  text-decoration: none;
  color: black;
}
.project-name a:hover {
  color: var(--primary-color);
  transition: all 0.5s;
}
.project-item .time-line {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
  color: gray;
  font-size: 0.8em;
  border-left: 1px solid var(--secondary-color);
  border-right: 1px solid var(--secondary-color);
}
.time-line .year {
  padding: 5px 20px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 20px;
  line-height: 1;
}
.project-description {
  font-size: 0.8rem;
  color: gray;
}
.project-description table {
  border-collapse: collapse;
}
.project-description td {
  border: 1px solid var(--secondary-color);
}
.project-description td:first-child {
  width: 30%;
  padding: 10px 20px;
}
.project-description td:nth-child(2) {
  line-height: 1.8;
  padding: 10px;
}

/* Phần footer */
#footer .container ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#footer ul li {
  display: flex;
  align-items: center;
  cursor: pointer;
}
#footer ul li i {
  font-size: 1.75rem;
  margin: 0px 5px;
  color: var(--primary-color);
}
#job-info {
  margin-top: 10px;
  margin-bottom: 10px;
}
#certificate {
  margin-top: 10px;
  margin-bottom: 10px;
}
#footer {
  margin-top: 10px;
  margin-bottom: 10px;
}




#viewMoreBtn {
  display: none;
  background-color: khaki;
}

.section-exp:hover #viewMoreBtn {
  display: inline-block;
}

.section-edu:hover #viewMoreBtn {
  display: inline-block;
}

.section-act:hover #viewMoreBtn {
  display: inline-block;
}

.section-hobby:hover #viewMoreBtn {
  display: inline-block;
}

.section-lang:hover #viewMoreBtn {
  display: inline-block;
}

.section-skill:hover #viewMoreBtn {
  display: inline-block;
}

#viewMoreBtn::before {
  content: "\25BC"; /* Mã Unicode cho biểu tượng tam giác đen */
  margin-right: 5px; /* Khoảng cách giữa biểu tượng và văn bản */
  color: rgb(0, 0, 0); /* Màu sắc của biểu tượng */
  font-size: 10px;
}

.charter {
  display: grid;
  gap: 20px;
  grid-template-columns: 2fr 1fr 1fr;
  background-color: blue;
  padding: 20px;
}
.charter-item {
  padding: 20px;
  border: 1px solid var(--secondary-color);
  box-shadow: 1px 1px 5px var(--secondary-color);
  background-color: white;
}
#timeline {
  grid-row: 1/3;
  grid-column: 3/4;
}


/*View more button*/
#viewMoreBtn {
  display: none;
  background-color: rgb(206, 226, 24);
}

.section-exp:hover #viewMoreBtn {
  display: inline-block;
}

.section-edu:hover #viewMoreBtn {
  display: inline-block;
}

.section-act:hover #viewMoreBtn {
  display: inline-block;
}

.section-hobby:hover #viewMoreBtn {
  display: inline-block;
}

.section-lang:hover #viewMoreBtn {
  display: inline-block;
}

.section-skill:hover #viewMoreBtn {
  display: inline-block;
}

#viewMoreBtn::before {
  content: "\25BC"; /* Mã Unicode cho biểu tượng tam giác đen */
  margin-right: 5px; /* Khoảng cách giữa biểu tượng và văn bản */
  color: rgba(251, 255, 0, 0.952); /* Màu sắc của biểu tượng */
  font-size: 10px;
}

 .info-full, .info-icons{
  display:none;
}
#certificate {
  padding-top: 10px ;
}



#banner{
 font-size: large;
}
.ten{
  font-size:50px;
}